%%
%% vi: filetype=erlang
%%
[
 {kernel, [
           {logger_level, debug}
          ]},

 {eventlogger, [
                {loggers, [
                           {eventlogger_writer,
                            foo_logger,
                            [{event, foo},
                             {file, "_var/foo.log"},
                             {maxbytes, 100},
                             {count, 3}
                            ]},
                           {eventlogger_writer,
                            bar_logger,
                            [{event, bar},
                             {file, "_var/bar.log"},
                             {maxbytes, 100},
                             {count, infinity} %% no limit on rotation count
                            ]},
                           {eventlogger_writer,
                            buz_logger,
                            [{event, buz},
                             {file, "_var/buz.log"},
                             {maxbytes, infinity} %% no size limit on file
                            ]}
                          ]}
               ]}
].
