%%
%% vim: ft=erlang
%%
[
 {eventlogger, [
                {loggers, [
                           {eventlogger_writer,
                            foo_logger,
                            [{event, foo},
                             {file, "_var/foo.log"},
                             {maxbytes, 100},
                             {rotate, 3}
                            ]},
                           {eventlogger_writer,
                            bar_logger,
                            [{event, bar},
                             {file, "_var/bar.log"},
                             {maxbytes, 100}
                            ]}
                          ]}
               ]}
].
